*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #0dc0f1;
    color: rgb(15, 89, 226) ;
    display: flex  ;
    justify-content: space-around ;
    align-items: center;
}



.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 ;
}

body{
    background: #b96666;
    font-size: 20px;
}

h1{
    text-align: center;
    font-size: 30px;
    color: aqua;
}

p{
    text-align: center;
   font-size: 25px;
   color: aqua;
}
#mtl{
    font-size: 20px";

}
em strong {
    color:aqua
}
img{
    width: 1194px;
    padding:100% ;
    position :"center";
    height: 633px;
    left: 123px;
    top: 215px;
    
}


