*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #36bfff;
    color: rgb(58, 126, 253)
    display; flex :
    justify-content; space-around :
    align-items; center;
}
 .cabeçalho img{
    width: 20%;
}

.cabeçalho-lista-item{
    display: inline-block
    margin: 0 ;
}

body{
    background: #05c8eb
}

h1{
    text-align: center
    font-size : 20px
}

p{
    text-align: center
    font-size : 20px
}
#mtl{
    "font-size: 20px"

}
em strong {
    color:aqua
}
.img{
    width: 100%
}

