*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #014152;
    color: rgb(3, 43, 117) ;
    display: flex  ;
    justify-content: space-around ;
    align-items: center;
}



.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 ;
}

body{
    background: #000000;
    font-size: 20px;
}

h1{
    text-align: center;
    font-size: 30px;
    color: aqua;
}

p{
    text-align: center;
   font-size: 25px;
   color: aqua;
}
#mtl{
    font-size: 20px";

}
em strong {
    color:aqua
}
.img{
    width: 1194px;
    padding:0% ;
    position :center;
    height: 633px;
    left: 123px;
    top: 215px;
}


